  {{!-- CITATIONS

  Adapted from nodejs starter app.
  This application was adapted from starter code provided by Dr. Curry and Prof. Safonte
  for the CS 340 course at Oregon State University.
  Curry, M. and Safonte, D. 2023
  https://github.com/osu-cs340-ecampus/nodejs-starter-app
  --}}
  
<button class="home-button">Home</button>
<script>
  document.querySelector(".home-button").addEventListener("click", function () {
    window.location.href = '/';
  });
</script>
<nav class="topNav">
  <ul>
    <li><button class="button"><a href="customers">Customers</a></button></li>
    <li><button class="button"><a href="products">Products</a></button></li>
    <li><button class="button"><a href="suppliers">Suppliers</a></button></li>
    <li><button class="button"><a href="inventory">Inventory</a></button></li>
    <li><button class="button"><a href="orders">Orders</a></button></li>
    <li><button class="button"><a href="order_products">Order Products</a></button>
    </li>
    <li><button class="button"><a href="locations">Locations</a></button></li>
  </ul>
</nav>

<h1>Customers</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{!-- Create a table --}}
<table id="customers-table" border="1">

  {{! Header section }}
  <thead>
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>
    {{#each data}}
    <tr>
      <td>{{this.customerID}}</td>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.email}}</td>
      <td>{{this.address}}</td>
      <td>{{this.phoneNum}}</td>
      
      <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete_customer.js"></script>


<h2>Search Using an HTML Form</h2>
<form id="search-customer-html" method='GET' action='/customers'>
    <label for="input-lastName">Search by Last Name: </label>
    <input type="text" name="lastName" id="input-lastName-html-search">
    
    <input type="submit">
    <a href='/customers'><button>Reset</button></a>
</form>
<p>Search by last name using the field above. Partial last names are OK too!</p>

<!-- /views/customers.hbs -->
<h2>Add a New Customer</h2>
<form id="add-customer-form-ajax">
  <label for="input-firstName">First Name: </label>
  <input type="text" name="input-firstName" id="input-firstName">

  <label for="input-lastName">Last Name: </label>
  <input type="text" name="input-lastName" id="input-lastName">

  <label for="input-email">Email: </label>
  <input type="text" name="input-email" id="input-email">

  <label for="input-address">Address: </label>
  <input type="text" name="input-address" id="input-address">

  <label for="input-phoneNum">Phone Number: </label>
  <input type="text" name="input-phoneNum" id="input-phoneNum">

  <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>


<!-- /views/customers.hbs -->
<h2>Update a Customer's Email</h2>
<form id="update-customer-form-ajax">

  <label for="input-customerID">Customer ID #: </label>
  <select name="input-customerID" id="mySelect">
    <option value="test">Select a Customer's ID</option>
    {{#each data}}
      <option value="{{this.customerID}}">{{this.customerID}} - {{this.lastName}}, {{this.firstName}}</option>
    {{/each}}
  </select>

  <label for="input-email">Email: </label>
  <input type="text" name="input-email" id="input-email-update">

  <input type="submit">

</form>
<script src="./js/update_customer.js"></script>

